<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_admin_user_invitation_url(@resource, :invitation_token => @token), target: "_blank" %></p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
